<div *ngIf="player$ | async as player">
  <h3>{{ player.name }}</h3>
  <table class="table table-dark">
    <thead>
      <tr>
        <th>Level</th>
        <th>Attempts</th>
        <th>Failures</th>
        <th>Complete?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let level of player.levelStatuses; let i = index">
        <td>
          <a class="nav-link" href="/game/{{ level.levelId }}"
            >{{ i + 1 }}: {{ getLevelName(level.levelId) }}
            <button
              *ngIf="player.admin"
              (click)="editLevel($event, level.levelId)"
              type="button"
              class="btn btn-light btn-sm float-right"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-wrench"
                viewBox="0 0 16 16"
              >
                <path
                  d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"
                />
              </svg>
            </button>
          </a>
        </td>
        <td>{{ level.attempts }}</td>
        <td>{{ level.failures }}</td>
        <td>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-check"
            viewBox="0 0 16 16"
            *ngIf="level.completed"
          >
            <path
              d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-x"
            viewBox="0 0 16 16"
            *ngIf="!level.completed && level.attempts > 0"
          >
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
            />
          </svg>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" (click)="gotoNewLevel()" class="btn btn-primary btn-lg">New Level</button>
</div>
