<form [formGroup]="gameSettings">
  <label for="rows">Rows: </label>
  <input id="rows" type="number" formControlName="rows" />
  <label for="columns">Columns: </label>
  <input id="columns" type="number" formControlName="columns" />
</form>
<label for="levels">Levels: </label>
<div id="levels" class="btn-toolbar" role="toolbar">
  <div class="btn-group" role="group">
    <button
      *ngFor="let level of this.levels; let i = index"
      button
      type="button"
      class="btn btn-secondary"
      (click)="onLoadLevel(i)"
    >
      {{ i + 1 }}
    </button>
  </div>
</div>
<div class="custom-control custom-switch">
  <input
    type="checkbox"
    class="custom-control-input"
    id="runningSwitch"
    [(ngModel)]="buttonState"
    (ngModelChange)="setTimerState($event)"
  />
  <label class="custom-control-label" for="runningSwitch">Running</label>
</div>
