<form [formGroup]="gameSettings">
  <label for="rows">Rows: </label>
  <input id="rows" type="number" formControlName="rows" />
  <label for="columns">Columns: </label>
  <input id="columns" type="number" formControlName="columns" />
</form>
<div>
  <button type="button" class="btn btn-secondary" (click)="onLoadLevel()">
    Load
  </button>
  <button type="button" class="btn btn-info" (click)="onExamine()">
    Examine
  </button>
</div>
<div class="custom-control custom-switch">
  <input
    type="checkbox"
    class="custom-control-input"
    id="runningSwitch"
    [(ngModel)]="buttonState"
    (ngModelChange)="setTimerState($event)"
  />
  <label class="custom-control-label" for="runningSwitch">Running</label>
</div>
