<p>{{ title }} app is running!</p>

<app-controls
  (notifyTimer)="onNotifyTimer($event)"
  (notifyLoad)="onNotifyLoad($event)"
  (notifyExamine)="onNotifyExamine()"
  (notifySize)="onNotifySize($event)"
  [runButtonState]="true"
  [levels]="levels"
  [playerStatus]="currentPlayerStatus"
></app-controls>
<app-map-editor
  (notifyCellChange)="onNotifyCellChange($event)"
  (notifyLoadMap)="onNotifyLoadMap($event)"
  (notifyBallOrderChange)="onNotifyBallOrderChange($event)"
  [mapName]="mapName"
  [numColumns]="physics.getNumColumns()"
  [numRows]="physics.rows"
  [startingMap]="startMap"
  [startingBalls]="startingBalls"
  [endingBalls]="endingBalls"
></app-map-editor>
<app-game-board #gameBoard
  [drawList]="getRenderer().getDrawlist()"
  [numColumns]="physics.getNumColumns()"
  [startingBalls]="startingBalls"
  [endingBalls]="endingBalls"
  (notifyGameState)="onNotifyGameState($event)"
></app-game-board>
