<p>{{ title }} app is running!</p>

<app-controls
  (notifyTimer)="onNotifyTimer($event)"
  (notifyLoad)="onNotifyLoad()"
  (notifyExamine)="onNotifyExamine()"
  (notifySize)="onNotifySize($event)"
  [buttonState]="true"
></app-controls>
<app-map-editor
  (notifyCellChange)="onNotifyCellChange($event)"
  (notifyLoadMap)="onNotifyLoadMap($event)"
  (notifyBallOrderChange)="onNotifyBallOrderChange($event)"
  [numColumns]="physics.getNumColumns()"
  [numRows]="physics.rows"
  [startingMap]="startMap"
></app-map-editor>
<app-game-board
  [drawList]="getRenderer().getDrawlist()"
  [numColumns]="physics.getNumColumns()"
  [startingBalls]="startingBalls"
  [endingBalls]="endingBalls"
></app-game-board>
