<p>Incoming: {{ numRows }} x {{ numColumns }}</p>
<form [formGroup]="mapForm">
  <label for="mapName">Map Name: </label>
  <input id="mapName" type="text" formControlName="mapName" />
  <div formArrayName="rows">
    <h2>Map</h2>
    <div *ngFor="let row of rows.controls; let i = index">
      <div
        [formGroupName]="i"
        class="map-column-selects"
        *ngFor="let col of getRow(i).controls; let j = index"
      >
        <select [formControlName]="j">
          <option value="air">Air</option>
          <option value="bumper-left">Bumper Left</option>
          <option value="bumper-right">Bumper Right</option>
          <option value="gate-left">Gate Left</option>
          <option value="gate-right">Gate Right</option>
          <option value="gate-proxy">Gate Proxy</option>
        </select>
      </div>
    </div>
  </div>
</form>
<p>Form Status: {{ mapForm.status }}</p>
{{ mapForm.value | json }}
