.split-pane {
  display:flex;
  background-color: lightgray;
}

.split-pane .editor {
  width: 50%;
  border-right: 5px solid white;
}

.split-pane .play {
  width: 50%;
  background-color: rgb(121, 112, 112);
}

.split-pane .editor .editor-ui {
  margin: 15px;
}

.map-rows {
  display: flex;
}

.map-rows .cell-selector {
  width: 125px;
  display: flex;
}

.map-rows .cell-selector.gate-left,
.map-rows .cell-selector.gate-right,
.map-rows .cell-selector.toggle-left,
.map-rows .cell-selector.toggle-right {
  width: 250px;
}

.cell-selector select.cell-type {
  display: inline-block;
  width: 100%;
}
