<app-levels [currentLevelId]="currentLevelId"></app-levels>
<div *ngIf="level$ | async as level" class="game-board-container">
  <div class="game-interface text-center">
    <h3>{{ level.name }}</h3>
    <div class="game-board" [ngStyle]="getGameBoardStyle()">
      <app-ball-entry
        [startingBalls]="startingBalls"
        [entryBalls]="entryBallInfo"
        (notifyDoLaunch)="doLaunch($event)"
      ></app-ball-entry>
      <div class="game-board-proper">
        <app-launch-button
          *ngFor="let button of this.launchButtons; let i = index"
          [index]="i"
          [launchFunction]="this.launch"
        ></app-launch-button>
        <div
          [class]="drawObject.className"
          [style]="drawObject.styleObject"
          (click)="onClick(drawObject)"
          *ngFor="let drawObject of this.drawList; trackBy: getDrawObjectId"
        ></div>
      </div>
      <app-ball-exit
        [width]="getWidth()"
        [exitBalls]="exitBallInfo"
        [endingBalls]="endingBalls"
      ></app-ball-exit>
    </div>
  </div>
</div>
