.game-board-container {
  display: flex;
  justify-content: center;
}

.game-board {
  position: relative;
  background-color: gray;
  margin: 20px 20px;
  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
}

.game-board-container h3 {
  margin-top: 15px;
}

.game-board-proper {
  position: relative;
}

.boundary {
  position: absolute;
  width: 100px;
  height: 100px;
  border-right: 1px solid rgba(100, 100, 100);
  border-left: 1px solid rgba(100, 100, 100);
}

.ball {
  position: absolute;
  background-image: url("/assets/ball.png");
  background-size: cover;
  transform: translate(-25px, -25px);
  width: 50px;
  height: 50px;
}

.ball.green {
  filter: hue-rotate(250deg);
}

.ball.red {
  filter: hue-rotate(100deg);
}

.ball.purple {
  filter: hue-rotate(50deg);
}

.bumper {
  position: absolute;
  background-image: url("/assets/bumper-right.png");
  transform: translate(-50px, 0px);
  background-size: 100px 50px;
  width: 100px;
  height: 50px;
  background-repeat: no-repeat;
}

.bumper.flipped {
  transform: scaleX(-1) translate(50px, 0px);
}

.gate {
  position: absolute;
  background-image: url("/assets/gate.png");
  transform: translate(0px, -15px) rotate(25deg);
  transform-origin: 48px 40px;
  transition: transform .25s;
  background-size: 100px 80px;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
}

.gate.flipped {
  transform: translate(0px, -15px) rotate(-25deg);
}
