<div class="modal-header">
  <h4 class="modal-title">{{ my_modal_title }}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('cancel')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h4>{{ my_modal_content }}</h4>
  <div class="text-center">
    <button type="button" class="play btn" (click)="activeModal.dismiss('play')">
      <img src="/assets/play button.png" />
    </button>
  </div>
</div>
<div class="modal-footer"></div>
